html,
body {
  margin: 0;
  padding: 5px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

#map {position: relative;
  width: 100%; 
  height: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 8px; 
}

#map svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;   
  height: 100%;
  z-index: 1;      
  pointer-events: none;}

#map svg circle {
  fill: steelblue;
  fill-opacity: 0.6;
  stroke: white;
  stroke-width: 1px;
  pointer-events: auto; /* allow hover so title tooltips show */
}

#map svg circle,
.legend > div {
  --color-departures: steelblue;
  --color-arrivals: darkorange;
  --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );
}

/* actual circle styling */
#map svg circle {
  fill: var(--color);
  fill-opacity: 0.6;
  stroke: white;
  stroke-width: 1px;
  pointer-events: auto; /* for tooltips */
}

/* legend layout */
.legend {
  display: flex;
  gap: 1px;
  margin-block: 0.75rem;
  font-size: 0.85rem;
  border-radius: 4px;
  overflow: hidden;
}

.legend > div {
  flex: 1;
  padding: 0.25rem 0.75rem;
  background-color: var(--color);
  color: white;
  text-align: center;
}